.lanyard-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  background-color: transparent !important;
  background: transparent !important;
}

.lanyard-wrapper canvas {
  background: transparent !important;
  background-color: transparent !important;
}